@import 'scss/main.scss';


$mToPxConversionConstant: 40px;

@function mToPx($m) {
  @return $m * $mToPxConversionConstant;
}

$courtLine: $mToPxConversionConstant / 10 solid white;

@mixin highlight-background {
  background: rgba(255, 255, 255, 0.4);
}


.Floor {
  // variables
  $FloorHeight: 24; // m
  $FloorWidth: 15; // m

  // props
  height: mToPx($FloorHeight / 2);
  width: mToPx($FloorWidth);
  background-image: url(../../../assets/basketball_floor.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 250px;
  
}

.Court {
  // variables
  $CourtHeight: 18; // m
  $CourtWidth: 9; // m

  // props
  height: mToPx($CourtHeight / 2);
  width: mToPx($CourtWidth);
  border: $courtLine;
}

.FrontCourt {
  border-bottom: $courtLine;
}

.FrontCourtZone {
  // variables
  $FrontCourtZoneHeight: 3; // m
  $FrontCourtZoneWidth: 3; // m

  // props
  height: mToPx($FrontCourtZoneHeight);
  width: mToPx($FrontCourtZoneWidth);
}

.BackCourtZone {
  // variables
  $BackCourtZoneHeight: 6; // m
  $BackCourtZoneWidth: 3; // m

  // props
  height: mToPx($BackCourtZoneHeight);
  width: mToPx($BackCourtZoneWidth);
}

.FreeZone {
  // variables
  $FreeZoneHeight: 12; // m
  $FreeZoneWidth: 3; // m

  // props
  height: mToPx($FreeZoneHeight);
  width: mToPx($FreeZoneWidth);
}

.ServingArea {
  // variables
  $ServingAreaHeight: 3; // m
  $ServingAreaWidth: 9; // m

  // props
  height: mToPx($ServingAreaHeight);
  width: mToPx($ServingAreaWidth);
}


